## Linear Discriminant Analysis(LDA) From Scratch

### Reading Data

In [1]:
import numpy as np
import pandas as pd
# reading data
df = pd.read_table('../dataset/occupancy/datatraining.txt', skiprows=1, names=('A', 'B', 'C', 'D', 'E', 'F', 'Occ'), sep=',')
test1 = pd.read_table('../dataset/occupancy/datatest.txt', skiprows=1, names=('A', 'B', 'C', 'D', 'E', 'F', 'Occ'), sep=',')
columns = ['B', 'C', 'D', 'E', 'F', 'Occ']

df = df[columns]
df.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: read_table is deprecated, use read_csv instead.
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: read_table is deprecated, use read_csv instead.

         B        C      D           E         F  Occ
1   23.180  27.2720  426.0  721.250000  0.004793    1
2   23.150  27.2675  429.5  714.000000  0.004783    1
3   23.150  27.2450  426.0  713.500000  0.004779    1
4   23.150  27.2000  426.0  708.250000  0.004772    1
5   23.100  27.2000  426.0  704.500000  0.004757    1
6   23.100  27.2000  419.0  701.000000  0.004757    1
7   23.100  27.2000  419.0  701.666667  0.004757    1
8   23.100  27.2000  419.0  699.000000  0.004757    1
9   23.100  27.2000  419.0  689.333333  0.004757    1
10  23.075  27.1750  419.0  688.000000  0.004745    1

### Dividing data-set into different classes

In [2]:
# classifying datas
print("Occupied Parameters")
x0 = df[df['Occ'] == 0][['B', 'C', 'D', 'E', 'F']]
print(x0.head())

print("Unoccupied Parameters")
x1 = df[df['Occ'] == 1][['B', 'C', 'D', 'E', 'F']]
print(x1.head())

Occupied Parameters
         B      C    D      E         F
17  23.000  27.20  0.0  681.5  0.004728
18  22.945  27.29  0.0  685.0  0.004728
19  22.945  27.39  0.0  685.0  0.004745
20  22.890  27.39  0.0  689.0  0.004730
21  22.890  27.39  0.0  689.5  0.004730
Unoccupied Parameters
       B        C      D       E         F
1  23.18  27.2720  426.0  721.25  0.004793
2  23.15  27.2675  429.5  714.00  0.004783
3  23.15  27.2450  426.0  713.50  0.004779
4  23.15  27.2000  426.0  708.25  0.004772
5  23.10  27.2000  426.0  704.50  0.004757

### Determinig Mean of different classes and the over all Mean

In [3]:
mean_all = df[['B', 'C', 'D', 'E', 'F']].mean()
mean_x0 = x0.mean()
mean_x1 = x1.mean()

### Mean corrected data and Covariance matrix

In [4]:
# mean corrected datas
corrected_x0 = x0-mean_all
corrected_x1 = x1-mean_all

# correlation matrix
cov0 = corrected_x0.cov()
cov1 = corrected_x1.cov()

# group covarience matrix
Cov = ((len(x0)/len(df))*cov0 + (len(x1)/len(df))*cov1)
Cov.head()
Cov_inv = pd.DataFrame(np.linalg.pinv(Cov))
Cov_inv
Cov_inv = Cov_inv.dot(Cov_inv)
Cov_inv.T

              0             1             2             3             4
0  3.667237e+10  2.443117e+10 -2.699666e+07  3.245072e+07 -1.650227e+14
1  2.443117e+10  1.627607e+10 -1.798520e+07  2.161870e+07 -1.099383e+14
2 -2.699666e+07 -1.798520e+07  1.987381e+04 -2.388885e+04  1.214828e+11
3  3.245072e+07  2.161870e+07 -2.388885e+04  2.871505e+04 -1.460256e+11
4 -1.650227e+14 -1.099383e+14  1.214828e+11 -1.460256e+11  7.425892e+17

### Test data-set

In [5]:
# Preparing test data
test1_X = test1[['B', 'C', 'D', 'E', 'F']]
test1_Y = test1['Occ']
test1_X.head()

           B       C           D           E         F
140  23.7000  26.272  585.200000  749.200000  0.004764
141  23.7180  26.290  578.400000  760.400000  0.004773
142  23.7300  26.230  572.666667  769.666667  0.004765
143  23.7225  26.125  493.750000  774.750000  0.004744
144  23.7540  26.200  488.600000  779.000000  0.004767

### Discriminant function
<img src="assets/discriminant_function.png">

In [6]:
f0 = np.array(mean_x0) @ np.array(Cov_inv.T) @ np.array(test1_X.T) - (0.5*(np.array(mean_x0) @ np.array(Cov_inv.T) @ np.array(mean_x0.T) )) + np.log((len(x0)/len(df)))
# print(Cov_inv.shape, test1_X.T.shape)
f1 = np.array(mean_x1) @ np.array(Cov_inv.T) @ np.array(test1_X.T) - (0.5*(np.array(mean_x1) @ np.array(Cov_inv.T) @ np.array(mean_x1.T) )) + np.log((len(x1)/len(df)))

In [7]:
f0

array([7.31824417e+12, 7.32334345e+12, 7.33728914e+12, ...,
       7.36937735e+12, 7.36328373e+12, 7.36249089e+12])

In [8]:
f1

array([7.32157483e+12, 7.32664636e+12, 7.34051616e+12, ...,
       7.37242975e+12, 7.36636929e+12, 7.36558077e+12])

### Assign object k with class i such that f(i) is maximun for that object

In [9]:
cl = f0>f1
y_out = np.array([0 if f0[i]>f1[i] else 1 for i in range(len(f0))])
y_out

array([1, 1, 1, ..., 1, 1, 1])

### Calculating Accuracy

In [10]:
gr_val = np.array(test1_Y)

tp_bool = np.logical_and((y_out==1),(gr_val==1))
tn_bool = np.logical_and((y_out==0),(gr_val==0))
fp_bool = np.logical_and((y_out==1),(gr_val==0))
fn_bool = np.logical_and((y_out==0),(gr_val==1))
tp = len(y_out[tp_bool])
tn = len(y_out[tn_bool])
fp = len(y_out[fp_bool])
fn = len(y_out[fn_bool])
print(tp,tn,fp,fn)

accuracy = (tp+tn)/(tp+tn+fp+fn)
print("accuracy : "+str(accuracy))

# precision = tp/(total yes predictions)
precision = tp/(len(y_out[y_out==1]))
print("precision : "+str(precision))

specificity = tp/(tp+fn)
print("specificity : "+str(specificity))

sensitivity = tn/(tn+fp)
print("sensitivity : "+str(sensitivity))

972 1393 300 0
accuracy : 0.8874296435272045
precision : 0.7641509433962265
specificity : 1.0
sensitivity : 0.8227997637330183